<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">¡Aquí estamos para lo que necesites!</h2>
                <hr class="light">
                <p class="text-faded">¿Necesitas una web personal?, ¿reparar tu PC?, ¿Móvil nuevo?, te lo configuramos. Quiza vienes por el PodCast... disfruta de los capítulos y compárteme</p>
                <a href="#" class="btn btn-default btn-xl">Feed!</a>
                <a href="#" class="btn btn-default btn-xl">Servicios!</a>
            </div>
        </div>
    </div>
</section>
