<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Buenos Presagios</h1>
            <hr>
            <p>Sitio dedicado al Podcast Buenos Presagios y artículos de interes.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
